{block content}
<h1 n:block="title" style="display: none;">Page Not Found</h1>

<div class="awoo-wrapper">
    <p>Maybe the Cookie Monster ate it, who knows :d</p>
    <a n:href="Homepage:" class="ajax">Awoo to Homepage</a>
    <p><small>error 404</small></p>
</div>