<!DOCTYPE html>
<html lang="en">

<head>
	<title n:snippet="title">{ifset title}{include title|stripHtml} – {/ifset}Awooing.moe</title>

	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link rel="apple-touch-icon" sizes="76x76" href="{$baseUrl}/static/img/awoos/awooo.png">
	<link rel="icon" type="image/png" href="{$baseUrl}/static/img/awoos/awooo.png">

	<link href="{$baseUrl}/static/css/fonts.css" rel="stylesheet">
	<link href="{$baseUrl}/static/css/argon.min.css?v=1.2.0" rel="stylesheet" />
	<link href="{$baseUrl}/static/css/awoo.css" rel="stylesheet" >

	<script src="{$baseUrl}/static/js/jquery.min.js"></script>
	<script src="{$baseUrl}/static/js/sweetalert.min.js"></script>
	<script src="{$baseUrl}/static/fa/js/all.js"></script>
</head>

{snippet login}
	{if !$user->isLoggedIn()}
		{include './Includes/loginModal.latte'}
	{/if}
{/snippet}


<body class="index-page bg-dark">

{snippet navigation}{include './Includes/navigation.latte'}{/snippet}

<div class="awoo-container" >

	<!-- ::Banner -->
	<div class="section section-hero section-shaped" id="awoo-banner">
		<div class="shape shape-style-1 shape-primary awoo-banner-gradient">
		</div>
		<div class="page-header">
			<div class="container shape-container d-flex align-items-center py-lg">
				<div class="col px-0">
					<h1 n:snippet="banner" class="welcome shadowed" style="margin:0;display: inline-block;">{ifset title}{include title|stripHtml}{else}The Awooing Place{/ifset}</h1>
				</div>
			</div>
		</div>
	</div>
	<!-- \::Banner -->
	{snippet content}
		<div id="main-container" class="container">

			<!-- TODO: cleanup flashes -->
			<!-- Flashes -->
			<div class="flashes">
				{foreach $flashes as $flash}
					{if $flash->type == "script"}
						{$flash->message|noescape}
					{else}
						<div n:class="flash">
							{if $flash->type == "noescape"}
								<div class="flash-header">
									<p>{explode(";", $flash->message)[0]}</p>
								</div>
								<div class="flash-body">
									<b>{explode(";", $flash->message)[1]}</b> {explode(";", $flash->message|noescape)[2]}
								</div>
							{else}
								<div n:class="flash-header, $flash->type">
									<p>{explode(";", $flash->message)[0]}</p>
								</div>
								<div class="flash-body">
									<p style="margin: 0"><b id="flash-date">{explode(";", $flash->message)[1]}</b> {explode(";", $flash->message)[2]}</p>
								</div>
							{/if}
						</div>
					{/if}
				{/foreach}
				<!-- /Flashes -->
			</div>


			<!-- ::so here we start -->
			{include content}
			<!-- \::so here we end -->
		</div>
	{/snippet}
</div>

{include './Includes/footer.latte'}
<!-- re-Captcha -->
<script src="https://hcaptcha.com/1/api.js" async defer></script>
<script src="{$baseUrl}/static/js/flatpickr.min.js"></script>
<script src="{$baseUrl}/static/js/naja/Naja.js"></script>
<script src="{$baseUrl}/static/js/main.js"></script>
<script src="{$baseUrl}/static/js/topbar.min.js"></script>
<script src="{$baseUrl}/static/js/netteForms.min.js"></script>
<script src="{$baseUrl}/static/js/bootstrap/popper.min.js" type="text/javascript"></script>
<script src="{$baseUrl}/static/js/bootstrap/bootstrap.min.js" type="text/javascript"></script>
<script src="{$baseUrl}/static/js/bootstrap/argon.min.js?v=1.2.0" type="text/javascript"></script>
{snippet js}
	{ifset js}{include js}{/ifset}
{/snippet}
</body>

</html>