{block content}

    <div class="awoo-wrapper" style="background: rgba(0,0,0,0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 1.4rem">
        <h2>Tokichii</h2>
        <img alt="AwooXMAS" class="awoo" style="margin-top: 8px;" src="https://cdn.discordapp.com/emojis/678290859422384135.png?v=1">
        <p>Vote me for high wan-wan<br/>That is all</p>
    </div>

    <div class="awoo-wrapper" style="background: rgba(0,0,0,0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 1.4rem">
        <h2>Rin</h2>
        <p>Applying as Head of the Council of Awoo. I have been here since the beginning and although in the early days of the cult, I was not active, I have been progressively been more and more active, contributing several Awoomotes and organizing small movements to the cause. Furthermore, I have begun to send out weekly newletters on weeks that demand such a thing</p>
        <p>The great <img alt="AwooXMAS" class="awoo" src="https://cdn.discordapp.com/emojis/694634291052806290.png?v=1"> wills it so</p>
    </div>

    <div class="awoo-wrapper" style="background: rgba(0,0,0,0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 1.4rem">
        <h2>Vocktile</h2>
        <p>
            Reason to be council member: Dedicated to keeping <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1"> order and making sure that <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1">  duties and daily reminders are given aswell as continuing current support of fellow <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1">ers and council members. I will also post any <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1">  pics that are found <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1"> enough to be posted.
            <br/>Will also permanantly change server nickname to !POI Vocktile to Celebrate.</p>
    </div>

    <div class="awoo-wrapper" style="background: rgba(0,0,0,0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 1.4rem">
        <h2>Spaghett</h2>
        <p>
            Brethren, sisters, fellow wanwans. The time hath come, where we officially elect the council of awoo to rule and protect these lands. Together with my help we will strive to a promising future where we preserve what we treasure, improve what exists, and establish what is sought after. All this is done in the mission to fulfill our oath towards the mighty awoo, whom we will stay loyal to in eternity. Vote for me as your representative to passionately seek the ascended path of awoo. Together we will awoo.
            <br/>Praise awoo <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1">
    </div>

    <div class="awoo-wrapper" style="background: rgba(0,0,0,0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 1.4rem">
        <h2>Muffin</h2>
        <p>
            I've been here for ages and will continue awoo'ing around here! I already got !POI in my name and I promise I'll add an extra awoo too it! Vote for me so I can be part in the council and give the world more fluffy tails and awoo! <img alt="AwooAwau" class="awoo" src="https://cdn.discordapp.com/emojis/404702230499819520.png?v=1">
            <br/>
			Lets awoo together and raise strong my fellow awoo'ing friends! <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1">
    </div>

    <div class="awoo-wrapper" style="background: rgba(0,0,0,0.2);padding: 2rem;border-radius: 2rem;margin-bottom: 1.4rem">
        <h2>Vottus</h2>
        <p>
            Hello everyone, fella members of the cult.
            <br/><br/>
            I'm one of the newer members of the cult, though I really enjoyed being here.
            <br/>Everyone is kind, nice and everyone likes to <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1"> .
            <br/><br/>
            Together with all our fella awooers, we shall <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1">  and awoo forever, and we'll do all that
            for the sake of The Great <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1"> , which we're all loyal to.
            <br/><br/>
            I'm not good at speeches, however I can promise a bright future for all of us.
            <br/>
            Let the <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1"> exist forever and ever.
            <br/><br/>
            # <img alt="Awoo" class="awoo" src="https://cdn.discordapp.com/emojis/322522663304036352.png?v=1"> <img alt="AwooXMAS" class="awoo" src="https://cdn.discordapp.com/emojis/659215388936241172.png?v=1">
    </div>
{/block}