<script id="scriptFooter">
    $(document).ready(function () {
        $("#FooterOfTheMightyAnimeParadise").attr("class", $("#FooterOfTheMightyAnimeParadise").attr("class") + " fixed-bottom");
        $("#scriptFooter").remove();
    });
</script>