parameters:


database:
	dsn: 'mysql:host=s2.kettlemc.net;dbname=awoo'
	user: vottus
	password: aw009%SW3#3t9F^rYKr6@

services:
    authenticator: Awoo\Auth\Authentication
    - Awoo\Models\VotingModel
    - Awoo\Models\UserModel
    - Awoo\Models\MainModel
    - Awoo\Models\NewsModel
    - Awoo\Models\CdnModel
    - Awoo\Auth\Authorization::awooThePerms()
