{block title}Random Awoo{/block}
{block content}
    <style>
        #awoos-image {
            height: 50%;
            width: 50%;
            object-fit: contain;
        }
    </style>
    <div class="awoo-wrapper" style="text-align-last: center;">
        <p>Every time you refresh the page, you'll see a new {awooo}</p>
        <img id="awoos-image" alt="We encountered an awooror." src="{$image}">
    </div>
{/block}