{block title}Home{/block}
{block content}
    <div class="awoo-wrapper" style="min-height: 20rem">
        <h2 style="color: white;font-weight: bold;">Welcome to the Admin Panel.</h2>
        <h5 style="color: var(--gray)">
            You have been given permission to access this place,
            <br/>this means that someone put trust in you.
            <br/><br/>Don't let that person down.</h5>
    </div>
{/block}