{block title}The Awoo Council{/block}

{block content}
    <div style="text-align: center !important;" class="awoo-wrapper">
        <h2 style="text-align: center">New Awoo Council is about to be elected!</h2>
        <h5>We are in a big need for a council, therefore a voting had begun.</h5>
        <br/><br/>

        <h5>For more information read <a class="ajax" n:href="News:view 1">this post</a>.</h5>
    </div>
{/block}