<!-- ::Includes/login -->
<div class="col-md-4">
    <div class="modal fade darkfade" id="modal-form" tabindex="-1" role="dialog" aria-labelledby="modal-form"
         aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
            <div class="modal-content">
                <div class="modal-body p-0">
                    <div class="card bg-dark shadow border-0 mb-0">
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <h4 class="text-white" style="font-family: 'Livvic', sans-serif;font-weight: 700;">Login</h4>
                            </div>
                            {control login}
                            <p class="text-center" style="margin-bottom: 0;">Not registered yet? <a href="/register">Register here.</a></p>
                            <p class="text-center text-muted">{awooo}ing with an account is always better.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- \::Includes/login -->