<!-- ::Includes/navigation -->
<nav id="navbar-main" class="navbar navbar-main navbar-expand-lg navbar-transparent navbar-light headroom">
    <div class="container">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar_global"
                aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbar_global">
            <div class="navbar-collapse-header">
                <div class="row">
                    <div class="col-6">
                        <button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbar_global"
                                aria-controls="navbar_global" aria-expanded="false" aria-label="Toggle navigation">
                            <span></span>
                            <span></span>
                        </button>
                    </div>
                </div>
            </div>
            <ul class="navbar-nav navbar-nav-hover align-items-lg-center shadowed">
                <li class="nav-item">
                    <a href="Homepage:default" class="nav-link ajax">
                        <span class="nav-link-inner--text">Home</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="News:default" class="nav-link ajax">
                        <span class="nav-link-inner--text">News</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="Council:default" class="nav-link ajax">
                        <span class="nav-link-inner--text">Council</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="Awoo:random" class="nav-link ajax">
                        <span class="nav-link-inner--text">Awoo Pics</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a href="https://discord.gg/wolke" class="nav-link ajax">
                        <span class="nav-link-inner--text">Discord</span>
                    </a>
                </li>
            </ul>
            <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                <li class="nav-item">
                    <a href="#" data-toggle="modal" data-target="#modal-form"
                       class="btn btn-neutral btn-ico">
                        <span class="btn-inner--icon"><i class="fas fa-lock"></i></span><span
                                class="nav-link-inner--text"> Login</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<!-- \::Includes/navigation -->